<div class="gridContainer">
    <% instructions.forEach(instruction => { %>
        <div class="instructionCard">
            <p>Number: <%= instruction.number %></p> 
            <p>Title: <%= instruction.title %></p>
            <p><%= instruction.description %></p>
            <a href="/getEditInstructionPage/<%= instruction._id %>">Edit</a>
            <a href="/getShowInstructionPage/<%= instruction._id %>">Show</a>
            <a href="/getDeleteInstructionPage/<%= instruction._id %>">Delete</a>
        </div>
    <% }); %>
</div>