<div class="gridContainer">
    <% substances.forEach(substance => { %>
        <div class="substanceCard">
            <p>UN number: <b><%= substance.unNumber %></b></p> 
            <p>Name: <b><%= substance.nameBg %></b></p>
            <a href="/admin/substances/edit/<%= substance._id %>">Edit</a>
            <a href="/admin/substances/show/<%= substance._id %>">Show</a>
            <a href="/admin/substances/delete/<%= substance._id %>">Delete</a>
        </div>
    <% }); %>
</div>