<div class=".editor-container" style="width: 795px; margin: 0 auto;">
    <h3>Номер: <%= instruction.number %></h3>
    <h3>Заглавие: <%= instruction.title %></h2>
    <h3>Описание: <%= instruction.description %></h3>
</div>

<%- include("./partials/content.ejs")  %>

<script> 
    let c = '<%-instruction.content%>';
    let utfC = decodeURIComponent(atob(c));
    const content = utfC;
    document.getElementById('content').innerHTML = content;  
</script>